<!DOCTYPE html>
<html>
<head>
	<title>Vitamins</title>
	<link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header id="main_navigation" class="clearfix">
		<!-- <a href="#" class="name">Thamó Csaba</a> -->
		<%= link_to 'Vitamins', root_path, class: "name" %>
		<nav>
			<%= link_to "Vitamins", posts_path %>
			<%= link_to "Other Stuff", projects_path %>
			<%= link_to "Contact", new_contact_path %>
			<% if user_signed_in? %>
				<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
			<% end %>
		</nav>

		<% if notice %>
			<p class="notice"><%= notice %></p>
		<% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
	</header>

<%= yield %>

	<footer id="main_footer">
		<p class="copyright">&copy;2016 Thamó Csaba</p>
		<nav>
			<a href="http://github.com/csathaba" target="_blank"><i class="fa fa-github"></i></a>
		</nav>
	</footer>

</body>
</html>
